<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>GOssip-girl Campaign Send</title>
    <style>
      .file-upload__wrapper {
        border: 1px solid black;
        margin: 20px;
        padding: 20px;
        border-radius: 5px;
        width: auto;
        text-align: center;
      }
      #res {
        font-size: xx-small;
      }
      #btn {
        height: 100px;
        width: 200px;
        font-size: larger;
      }
    </style>
    <script>
      function makePost() {
        const res = document.getElementById("json").innerText
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
          if (this.readyState == 4 && this.status == 200) {
            document.getElementById("json").innerHTML = "Tudo ok! Pode fechar essa aba";
            document.getElementById("res").innerHTML = this.responseText;
          }
        };
        xhttp.open("POST", "/campaign", true);
        xhttp.setRequestHeader("Content-type", "application/json");
        xhttp.send(res);
        document.getElementById("btn").remove();
      }
    </script>
  </head>
  <body>
    <div class="file-upload__wrapper">
      <p id="json">{{ .Response }}</p>
      <p id="res"></p>
      <button id="btn" onclick="makePost()">Enviar!</button>
    </div>
  </body>
</html>
